div.layout-left
    h3.nav-title 办公导航
    h5.nav-title2 信息分类
    div.fenlei-list
        a(href='#') 新闻动态
        a(href='#') 通知公告
    h5.nav-title2 热门排行
    ul.article-list
        li
            a(href='#') 离退休工作处举办...
        li
            a(href='#') 离退休工作处举办...
        li
            a(href='#') 离退休工作处举办...
        li
            a(href='#') 离退休工作处举办...