doctype html
html
    head
        include ./modules/head.jade
        script(src='../app/app.news.js' data-type="webpack")
        title 新闻页
    body
        include ./modules/logo.jade
        div.layout
            h3.title 新闻动态
            ul.news-list
                li
                    img(src='../img/_news/nss0.jpg')
                    h1
                        a(href='#') 我校组织全体党员观看电影《毛丰美》
                    h6 发布时间：2016-09-26&nbsp;&nbsp;发布人：新闻宣传处
                    p 9月23日下午1点30分，我校30个党支部全体464名中共党员在新校区文体馆集体观看了电影《毛丰美》。党委副书记蔡羽主持并讲话。他指出此次观影是按照《中共辽宁省委办公厅关于组织观看电影〈毛丰美〉的通知》的安排部署，为进一步宣传毛丰美同志先进事迹、弘扬他的崇高精神而组织的一次全校党员活动。观看电影《毛丰美》是“两学一做”学习教育的一项重要内容，全校党员要结合 “学党章党规、学系列讲话，做合格党员”学习教育中，认真学习毛丰美同志等先进典型的事迹，...
                li
                    img(src='../img/_news/nss1.jpg')
                    h1
                        a(href='#') 我校组织全体党员观看电影《毛丰美》
                    h6 发布时间：2016-09-26&nbsp;&nbsp;发布人：新闻宣传处
                    p 9月23日下午1点30分，我校30个党支部全体464名中共党员在新校区文体馆集体观看了电影《毛丰美》。党委副书记蔡羽主持并讲话。他指出此次观影是按照《中共辽宁省委办公厅关于组织观看电影〈毛丰美〉的通知》的安排部署，为进一步宣传毛丰美同志先进事迹、弘扬他的崇高精神而组织的一次全校党员活动。观看电影《毛丰美》是“两学一做”学习教育的一项重要内容，全校党员要结合 “学党章党规、学系列讲话，做合格党员”学习教育中，认真学习毛丰美同志等先进典型的事迹，...
                li
                    img(src='../img/_news/nss2.jpg')
                    h1
                        a(href='#') 我校组织全体党员观看电影《毛丰美》
                    h6 发布时间：2016-09-26&nbsp;&nbsp;发布人：新闻宣传处
                    p 9月23日下午1点30分，我校30个党支部全体464名中共党员在新校区文体馆集体观看了电影《毛丰美》。党委副书记蔡羽主持并讲话。他指出此次观影是按照《中共辽宁省委办公厅关于组织观看电影〈毛丰美〉的通知》的安排部署，为进一步宣传毛丰美同志先进事迹、弘扬他的崇高精神而组织的一次全校党员活动。观看电影《毛丰美》是“两学一做”学习教育的一项重要内容，全校党员要结合 “学党章党规、学系列讲话，做合格党员”学习教育中，认真学习毛丰美同志等先进典型的事迹，...
                li
                    img(src='../img/_news/nss3.jpg')
                    h1
                        a(href='#') 我校组织全体党员观看电影《毛丰美》
                    h6 发布时间：2016-09-26&nbsp;&nbsp;发布人：新闻宣传处
                    p 9月23日下午1点30分，我校30个党支部全体464名中共党员在新校区文体馆集体观看了电影《毛丰美》。党委副书记蔡羽主持并讲话。他指出此次观影是按照《中共辽宁省委办公厅关于组织观看电影〈毛丰美〉的通知》的安排部署，为进一步宣传毛丰美同志先进事迹、弘扬他的崇高精神而组织的一次全校党员活动。观看电影《毛丰美》是“两学一做”学习教育的一项重要内容，全校党员要结合 “学党章党规、学系列讲话，做合格党员”学习教育中，认真学习毛丰美同志等先进典型的事迹，...
                li
                    img(src='../img/_news/nss4.jpg')
                    h1
                        a(href='#') 我校组织全体党员观看电影《毛丰美》
                    h6 发布时间：2016-09-26&nbsp;&nbsp;发布人：新闻宣传处
                    p 9月23日下午1点30分，我校30个党支部全体464名中共党员在新校区文体馆集体观看了电影《毛丰美》。党委副书记蔡羽主持并讲话。他指出此次观影是按照《中共辽宁省委办公厅关于组织观看电影〈毛丰美〉的通知》的安排部署，为进一步宣传毛丰美同志先进事迹、弘扬他的崇高精神而组织的一次全校党员活动。观看电影《毛丰美》是“两学一做”学习教育的一项重要内容，全校党员要结合 “学党章党规、学系列讲话，做合格党员”学习教育中，认真学习毛丰美同志等先进典型的事迹，...
            div.pagin
                a(href='#') &lt;&lt;上一页
                span.pagin-shu
                    b |
                    b &lt;
                a(href='#') [1]
                a.pagin-index(href='#') [2]
                a(href='#') [3]
                a(href='#') [4]
                a(href='#') [5]
                span.pagin-shu
                    b &gt;
                    b |
                a(href='#') 下一页&gt;&gt;
        include ./modules/footer.jade