doctype html
html
    head
        include ./modules/head.jade
        script(src='../app/app.news-detail.js' data-type="webpack")
        title 新闻详细页
    body
        include ./modules/logo.jade
        div.layout
            h3.title.back
                a(href='#') ＜返回
            article.news-article 9月23日下午1点30分，我校30个党支部全体464名中共党员在新校区文体馆集体观看了电影《毛丰美》。党委副书记蔡羽主持并讲话。他指出此次观影是按照《中共辽宁省委办公厅关于组织观看电影〈毛丰美〉的通知》的安排部署，为进一步宣传毛丰美同志先进事迹、弘扬他的崇高精神而组织的一次全校党员活动。观看电影《毛丰美》是“两学一做”学习教育的一项重要内容，全校党员要结合 “学党章党规、学系列讲话，做合格党员”学习教育中，认真学习毛丰美同志等先进典型的事迹，以先进模范为榜样，坚定理想信念，践行党的宗旨，弘扬担当精神，锐意开拓进取，推进转型升级，为学校事业发展和辽宁新一轮全面振兴作出应有贡献。
        include ./modules/footer.jade